@model CetStudentBook.Models.Book

@{
    ViewData["Title"] = "Delete Book";
}

<h1>Delete Book</h1>

<h4>Are you sure you want to delete this book?</h4>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Author</dt>
    <dd class="col-sm-9">@Model.Author</dd>

    <dt class="col-sm-3">Publish Date</dt>
    <dd class="col-sm-9">@Model.PublishDate.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-3">Page Count</dt>
    <dd class="col-sm-9">@Model.PageCount</dd>

    <dt class="col-sm-3">Second Hand</dt>
    <dd class="col-sm-9">@(Model.IsSecondHand ? "Yes" : "No")</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>